*.mat
*.png
*.csv
__pycache__/
*.pyc
# ignore everything in results by default
data/*
results/*
!results/README.md
!results/tables
!results/figures

# MATLAB project metadata/cache
resources/project/
resources/project/**

